doctype
html
  head
    meta(charset="UTF-8")
    //- photon.css
    link(href="../lib/photon/css/photon.min.css" rel="stylesheet" type="text/css" media="all")
    //- jscolor.js
    script(src="../lib/jscolor/jscolor.min.js")
    title お気に入り登録
  body
    div#container-favorite
    script(src="./favorite.js")
