doctype
html
  head
    meta(charset="UTF-8")
    //- photon.css
    link(href="../lib/photon/css/photon.min.css" rel="stylesheet" type="text/css" media="all")
    title お気に入り登録
  body
    div#container-settings
    script(src="./favorite.js")
