doctype
html
  head
    meta(charset="UTF-8")
    //- photon.css
    link(href="../node_modules/photonkit/dist/css/photon.css" rel="stylesheet" type="text/css" media="all")
    //- jscolor-picker.js
    script(src="../node_modules/jscolor-picker/jscolor.min.js")
    title お気に入り登録
  body
    div#container-favorite
    script(src="./favorite.js")
