doctype
html
  head
    meta(charset="UTF-8")
    //- photon.css
    link(href="../lib/photon/css/photon.min.css" rel="stylesheet" type="text/css" media="all")
    title epcyp
  body
    div#container
    script(src="./epcyp.js")
