doctype
html
  head
    meta(charset="UTF-8")
    //- photon.css
    link(href="../lib/photon/css/photon.min.css" rel="stylesheet" type="text/css" media="all")
    title 設定
  body(style="overflow: hidden;")
    div#container-settings
    script(src="./settings.js")
