$col1-widrh: auto;
$col2-widrh: 60px;
$col3-widrh: 40px;

/* Index */
body{
  font-size: 11px;
  background: #efefef;
  overflow: auto;
}
#container{
  position: relative;
  padding-top: 60px;
  padding-bottom: 20px;
}

/* HeaderBox */
header{
  position: fixed;
  top: 0px;
  width: 100%;
  -webkit-app-region: drag; /* ドラッグ可能に */
  -webkit-user-select: none; /* ドラッグはテキスト選択と競合するので禁止 */
  .title>.icon{
    margin-right: 5px;
  }
  .toolbar-actions{
    margin-top: 10px;
  }
}

/* HeaderUpdateButton */
$header-update-ccw: #00b900;
$header-update-star: #efbf00;
$header-update-cog: #808080;
header{
  .icon-arrows-ccw{
    -webkit-text-stroke-color: darken($header-update-ccw, 5%);
    -webkit-text-stroke-width: 0.4px;
    color: $header-update-ccw !important;
  }
  .icon-star{
    -webkit-text-stroke-color: darken($header-update-star, 5%);
    -webkit-text-stroke-width: 0.4px;
    color: $header-update-star !important;
  }
  .icon-cog{
    -webkit-text-stroke-color: darken($header-update-star, 5%);
    -webkit-text-stroke-width: 0.4px;
    color: $header-update-cog !important;
  }
}
#header-update-dropdown{
  padding-left: 2px !important;
  padding-right: 3px !important;
}
#header-update-dropdown:after{
  margin-left: 0px;
}
header .toolbar-actions{
  padding-bottom: 10px;
}
/* FooterBox */
footer{
  font-size: 12px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  .footer-right{
    text-align: right;
    padding: 0px 10px;
  }
}

/* ChannelBox */
th.channel-box-col1{
  font-size: 10px;
  box-sizing: border-box;
  width: $col1-widrh;
  margin-right: -110px;
	padding-right: 110px;
}
th.channel-box-col2{
  font-size: 10px;
  box-sizing: border-box;
  max-width: $col2-widrh;
  padding: 2px 5px;
}
th.channel-box-col3{
  font-size: 10px;
  box-sizing: border-box;
  max-width: $col3-widrh;
  padding: 2px 5px;
}

/* ChannelItem */
td.channel-item-col1{
  width: $col1-widrh;
  max-width: 100%;
  padding-right: 0px;
  .channel-item-name{
    color: #116cd6;
    font-weight: bold;
    display: block;
    white-space: normal;
    overflow: hidden;
    word-break: break-all;
  }
  .channel-item-genre{
  }
  .channel-item-detail{
    font-size: 11px;
    display: block;
    white-space: normal;
    overflow: hidden;
    word-break: break-all;
  }
  .channel-item-comment{
  }
}
td.channel-item-col2{
  box-sizing: border-box;
  max-width: $col2-widrh;
  padding: 2px 5px;
  text-align: right;
}
td.channel-item-col3{
  box-sizing: border-box;
  max-width: $col3-widrh;
  padding: 2px 5px;
  text-align: right;
}

/* Favorite */
#container-favorite{
  overflow: hidden;
  padding-top: 15px;
  header{
  }
  #favorite-main{
    padding: 15px;
  }
}
#favorite-btn-group{
  margin-top: 15px;
  text-align: right;
}
#favorite-ok{
  margin-right: 5px;
}
#favorite-cancel{

}
/* FavoriteBox */
#favorite-box{
  height: 240px;
  overflow: scroll;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-collapse: collapse;
}
table#table-favorites{
  table-layout: fixed;
}
th{
  font-size: 10px;
}
th.favorite-item-name{
  padding: 2px 10px;
  width: 100px;
}
th.favorite-item-pattern{
  padding: 2px 10px;
  width: auto;
}
th.favorite-item-btn-group{
  padding: 2px;
  text-align: center;
  width: 80px;
}
/* FavoriteItem */
td.favorite-item-name{
  padding: 0px;
  input{
    width: 100%;
  }
}
td.favorite-item-pattern{
  padding: 0px;
  input{
    width: 100%;
  }
}
td.favorite-item-btn-group{
  background: none;
  padding: 0px;
  text-align: center;
  .btn{
    border-radius: 2px;
    margin: 0px 1px;
  }
  .btn:hover{
    background: #ddd;
    cursor: pointer;
  }
}

/* Settings */
#container-settings{
  overflow: hidden;
  padding-top: 15px;
  header{
  }
  #settings-main{
    padding: 15px;
  }
}
#settings-player{
  width: 80%;
  margin-right: 5px;
}
#settings-bbs{
  width: 80%;
  margin-right: 5px;
}
#settings-ok{
 margin-right: 5px;
}

/* override photon.css */
.btn-primary > .icon,
.btn-positive > .icon,
.btn-negative > .icon,
.btn-warning > .icon{
  color: #fff;
}
.btn-mini{
  font-size: 10px;
}
.table-striped{
  padding-top: 22px;
}
tr:active:nth-child(even), tr:active{
  color: #333 !important;
  background: #5498e8 !important;
}
.tab-group{
  position: fixed;
  width: 100%;
  top: 63px;
}
.tab-item{
  font-size: 10px !important;
  padding: 1px !important;
}
.icon-close-tab{
  display: none !important;
}
tr:active:nth-child(even), tr:active,
.table-striped tr:active:nth-child(even), tr:active{
  background: none !important;
}
