$col1-widrh: auto;
$col2-widrh: 65px;
$col3-widrh: 40px;

/* Index */
body{
  font-size: 11px;
  background: #efefef;
  overflow: auto;
}
#container{
  position: relative;
  padding-top: 60px;
  padding-bottom: 20px;
}
#index{
  .tab-group{
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    position: fixed;
    width: 100%;
    top: 63px;
  }
}

/* HeaderBox */
header{
  position: fixed;
  top: 0px;
  width: 100%;
  -webkit-app-region: drag; /* ドラッグ可能に */
  -webkit-user-select: none; /* ドラッグはテキスト選択と競合するので禁止 */
  .title{
    color: #111;
    .icon{
      margin-right: 5px;
    }
  }
  .toolbar-actions{
    margin-top: 10px;
  }
}
// ウィンドウ非アクティブ時
header.blur{
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e6e6e6),color-stop(100%,#dedede)) !important;
}

/* HeaderUpdateButton */
$header-update-ccw: #00b900;
$header-update-star: #efbf00;
$header-update-cog: #808080;
header{
  .icon-arrows-ccw{
    -webkit-text-stroke-color: darken($header-update-ccw, 5%);
    -webkit-text-stroke-width: 0.4px;
    color: $header-update-ccw !important;
  }
  .icon-star{
    -webkit-text-stroke-color: darken($header-update-star, 5%);
    -webkit-text-stroke-width: 0.4px;
    color: $header-update-star !important;
  }
  .icon-cog{
    -webkit-text-stroke-color: darken($header-update-star, 5%);
    -webkit-text-stroke-width: 0.4px;
    color: $header-update-cog !important;
  }
}
#header-update-dropdown{
  padding-left: 2px !important;
  padding-right: 3px !important;
}
#header-update-dropdown:after{
  margin-left: 0px;
}
header .toolbar-actions{
  padding-bottom: 10px;
}

/* FooterBox */
footer{
  font-size: 12px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  .footer-left{
    float: left;
    text-align: left;
    padding: 0px 10px;
  }
  .footer-right{
    float: right;
    text-align: right;
    padding: 0px 10px;
  }
}

/* ChannelBox */
th.channel-box-col1{
  color: #000 !important;
  font-size: 11px;
  box-sizing: border-box;
  width: $col1-widrh;
  margin-right: -110px;
	padding-right: 110px;
}
th.channel-box-col2{
  color: #000 !important;
  font-size: 11px;
  box-sizing: border-box;
  max-width: $col2-widrh;
  padding: 2px 5px;
}
th.channel-box-col3{
  color: #000 !important;
  font-size: 11px;
  box-sizing: border-box;
  max-width: $col3-widrh;
  padding: 2px 5px;
}

/* ChannelItem */
tr.channel-item:nth-child(odd):active,
tr.channel-item:nth-child(even):active{
  background: #a2b0ff !important;
}
tr.channel-item{
  color: #000 !important;
  font-size: 13px;
}
td.channel-item-col1{
  width: $col1-widrh;
  max-width: 100%;
  padding: 5px 0px 5px 10px;
  .channel-item-name{
    color: #1f0fe2;
    font-weight: bold;
    display: block;
    white-space: normal;
    overflow: hidden;
    word-break: break-all;
  }
  .channel-item-genre{
  }
  .channel-item-detail{
    font-size: 11px;
    display: block;
    white-space: normal;
    overflow: hidden;
    word-break: break-all;
  }
  .channel-item-comment{
  }
}
td.channel-item-col2{
  box-sizing: border-box;
  max-width: $col2-widrh;
  padding: 2px 5px;
  text-align: right;
}
td.channel-item-col3{
  box-sizing: border-box;
  max-width: $col3-widrh;
  padding: 2px 5px;
  text-align: right;
}

/* Favorite */
#container-favorite{
  overflow: hidden;
  padding-top: 15px;
  header{
  }
  #favorite-main{
    padding: 15px 10px;
  }
}
#favorite{
}
#favorite-btn-group{
  margin-top: 15px;
  text-align: right;
}
#favorite-ok{
  margin-right: 5px;
}
#favorite-cancel{
}

/* FavoriteDetail */
#favorite-detail{
  label{
    font-size: 11px;
    display: block;
    margin-bottom: 0px;
  }
  input{
    width: 300px;
    margin-bottom: 10px;
  }
  #favorite-detail-targets{
    input{
      width: auto;
      margin-left: 10px;
      margin-right: 3px;
    }
  }
  #favorite-detail-colors{
    #sample{
      display: inline-block;
      width: 300px;
      text-align: center;
      padding: 5px 20px;
      font-size: 14px;
    }
    button{
      margin-top: 5px;
      margin-right: 5px;
    }
  }
  #favorite-detail-notify{
    margin-top: 10px;
    input{
      width: auto;
      margin-right: 3px;
    }
  }
}

/* Settings */
#container-settings{
  overflow: hidden;
  padding-top: 15px;
}
#settings{
  overflow: hidden;
  width: 100%;
  height: 350px;
  position: relative;
  header{
    border-bottom: none;
  }
  #settings-main{
    padding: 15px;
    margin-top: 30px;
  }
  #settings-btn-group{
    position: absolute;
    bottom: 35px;
    right: 25px;
  }
  .tab-group{
    position: fixed;
    width: 100%;
    top: 23px;
    .tab-item{
      background: #bababa;
    }
    .tab-item:hover{
      background: #dcdadc;
    }
    .tab-item.active,
    .tab-item.active:hover{
      background: #dcdadc;
    }
  }
  label{
    font-size: 11px;
    display: block;
    margin-bottom: 0px;
  }
  input{
    width: 325px;
    margin-bottom: 10px;
    margin-right: 5px;
  }
}
#settings-ok{
  margin-right: 5px;
}
#settings-cancel{
}

/* SettingsGeneral */
#settings-general{
}
#settings-sort{
}

/* SettingsPeerCast */
#settings-peercast{
  input.checkbox{
    width: auto;
    display: inline-block;
  }
}

/* SettingsYP */
#settings-yp{
  #rule-box>#rule-box-nav{
    height: 250px;
  }
}

/* SettingsYPDetail */
#settings-yp-detail{
  input{
    width: 200px;
  }
}

/* RuleBox */
#rule-box{
  float: left;
  button{
    margin-top: 5px;
    margin-right: 4px;
    .icon{
      font-size: 11px;
      width: auto;
      height: auto;
    }
  }
}
nav#rule-box-nav{
  background: #fff;
  border: 1px solid #ccc;
  width: 130px;
  height: 300px;
  padding: 0px;
  margin-right: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* RuleItem */
.rule-item{
  cursor: default;
  padding: 3px 5px;
  height: 21px;
}
.rule-item-active{
  background: #116cd6;
  color: #fff;
}

/* override photon.css */
.btn-primary > .icon,
.btn-positive > .icon,
.btn-negative > .icon,
.btn-warning > .icon{
  color: #fff;
}
.btn-mini{
  font-size: 11px;
  height: 20px;
  color: #333;
}
.table-striped{
  padding-top: 22px;
}
tr:active:nth-child(even), tr:active{
  color: #333 !important;
  background: #5498e8 !important;
}
.tab-item{
  font-size: 11px !important;
  padding: 1px !important;
}
select{
  height: 20px;
}
