$link-color: #0800ff;

.hover-item{
  background: #cbe4f4;
  border: 1px solid #4dbaff;
}
a, .link{
  color: $link-color;
}
.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Index */
body{
  height: 100%;
  font-size: 11px;
  background: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  display: none !important;
}
#container{
  height: 100%;
  position: relative;
  padding-top: 47px;
  padding-bottom: 20px;
}
.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#index{
  .tab-group{
    border-top: none;
    border-bottom: 1px solid #999;
    width: 100%;
    position: fixed;
    top: 29px;
  }
  table{
    margin-bottom: 22px;
    thead{
      position: fixed;
      display: block;
    }
    tbody{
      margin-top: 19px;
      display: block;
    }
  }
}
#index.darwin{
  padding-top: 20px;
  .tab-group{
    top: 65px;
  }
  header{
    padding-top: 20px;
  }
}

/* HeaderBox */
header{
  position: fixed;
  top: 0px;
  width: 100%;
  -webkit-app-region: drag; /* ドラッグ可能に */
  -webkit-user-select: none; /* ドラッグはテキスト選択と競合するので禁止 */
  .title{
    color: #111;
    .icon{
      margin-right: 5px;
    }
  }
  .toolbar-actions{
    margin-top: 2px;
    padding: 0px;
  }
}

// ウィンドウ非アクティブ時
header.blur{
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e6e6e6),color-stop(100%,#dedede)) !important;
}

/* HeaderUpdateButton */
$header-update-ccw: #62c554;
$header-update-star: #f5bf4f;
$header-update-cog: #808080;
header{
  // アイコンのカラー化
  /*
  .icon-arrows-ccw{
    -webkit-text-stroke-color: darken($header-update-ccw, 18%);
    -webkit-text-stroke-width: 0.5px;
    color: $header-update-ccw !important;
  }
  .icon-star{
    -webkit-text-stroke-color: darken($header-update-star, 18%);
    -webkit-text-stroke-width: 0.5px;
    color: $header-update-star !important;
  }
  .icon-cog{
    -webkit-text-stroke-color: darken($header-update-cog, 18%);
    -webkit-text-stroke-width: 0.5px;
    color: $header-update-cog !important;
  }
  */
  .flex-container{
    padding: 3px;
    .flex-header-update-btns{
      order: 1;
      display: -webkit-inline-box;
      margin-right: 2px;
    }
    .flex-header-settings-btns{
      order: 2;
      display: -webkit-inline-box;
      margin-right: 2px;
    }
    .flex-header-search{
      order: 3;
      flex-grow: 1;
      display: -webkit-inline-box;
    }
    .search-group{
      margin-left: auto;
      margin-right: 6px;
      text-align: right;
      input#search-word[type="text"]{
        -webkit-app-region: no-drag; /* ドラッグ不可 */
        -webkit-user-select: auto; /* テキスト選択可能 */
        width: 100%;
        max-width: 170px;
        min-width: 80px;
        border-style: solid;
        border-width: 1px;
        border-color: #c2c0c2 #c2c0c2 #a19fa1;
        border-radius: 4px;
        height: 22px;
        margin: 0px;
        padding: 0px;
        padding-left: 3px;
        padding-right: 32px;
        line-height: 0px;
        vertical-align: middle;
      }
      input#search-word[type="text"]:focus {
        outline: 0;
        border-color: #0066ff;
      }
      button{
        border: none;
        background-color: #fff;
        background-image: none;
        box-shadow: none;
        padding: 2px 8px;
      }
      button:hover, button:active{
        border-radius: 0px 4px 4px 0px;
        background: none;
        .icon{
          color: #0066ff;
        }
      }
      button#search-cancel{
        margin-left: -35px;
        padding-left: 0px;
        padding-right: 2px;
        .icon{
          color: #cdcdcd;
        }
      }
      button#search-cancel:hover>.icon{
        color: #737475;
      }
      button#search-submit{
        margin-left: -3px;
        padding-left: 2px;
        padding-right: 5px;
        .icon-search{
          color: #737475;
        }
      }
    }
  }
}
#header-update-dropdown{
  padding-left: 2px !important;
  padding-right: 3px !important;
}
#header-update-dropdown:after{
  margin-left: 0px;
}
header .toolbar-actions{
  padding-bottom: 0px;
  white-space: nowrap;
}

/* FooterBox */
footer{
  font-size: 12px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  .footer-left{
    float: left;
    text-align: left;
    padding: 0px 10px;
  }
  .footer-right{
    float: right;
    text-align: right;
    padding: 0px 10px;
  }
}

/* ChannelBox */
$col1-width: 100vh;
$col2-width: 50px;
$col3-width: 50px;
.channel-box{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-bottom: 22px;
  .channel-box-header{
    order: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background: #eee;
    border-bottom: 1px solid #ccc;
    .channel-box-header-col{
      color: #000;
      font-size: 11px;
      line-height: 18px;
      box-sizing: border-box;
    }
    .channel-box-header-col1{
      @extend .channel-box-header-col;
      flex-grow: 2;
      padding: 0px 10px;
      text-align: left;
      border-right: 1px solid #ccc;
    }
    .channel-box-header-col2{
      @extend .channel-box-header-col;
      padding: 0px;
      padding-right: 3px;
      text-align: right;
      border-right: 1px solid #ccc;
    }
    .channel-box-header-col3{
      @extend .channel-box-header-col;
      padding: 0px;
      padding-right: 8px;
      text-align: right;
    }
  }
  .channel-box-body{
    order: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

/* ChannelItem */
.channel-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none !important; // .hover-itemのborderを無効化
  color: #000;
  font-size: 12px;
  .channel-item-col1{
    order: 1;
    flex-grow: 2;
    padding: 4px 0px 4px 8px;
    min-width: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    // チャンネル名
    .channel-item-name{
      order: 1;
      font-weight: bold;
    }
    .channel-item-name-favorite{
      order: 1;
      color: $link-color !important;
    }
    // 詳細
    .channel-item-desc{
      order: 2;
    }
    .channel-item-desc-nowrap{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .channel-item-col2{
    order: 2;
    padding: 2px 3px;
    text-align: right;
    display: flex;
    flex-direction: column;
    .channel-item-listener{
      order: 1;
    }
    .channel-item-time{
      order: 2;
    }
  }
  .channel-item-col3{
    order: 3;
    padding: 2px 8px 2px 4px;
    text-align: right;
    display: flex;
    flex-direction: column;
    .channel-item-kbps{
      order: 1;
    }
    .channel-item-format{
      order: 2;
    }
  }
}
.channel-item:hover{
  @extend .hover-item;
}

/* RecordBox */
$record-col1-width: 100vh;
$record-col2-width: 90px;
$record-col3-width: 90px;
$record-col4-width: 90px;
.record-box{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
 .record-box-header{
    order: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: #eee;
    border-bottom: 1px solid #ccc;
    .record-box-header-col{
      color: #000;
      font-size: 11px;
      line-height: 18px;
      box-sizing: border-box;
    }
    .record-box-header-col1{
      @extend .record-box-header-col, .ellipsis;
      order: 1;
      width: $record-col1-width;
      border-right: 1px solid #ccc;
      text-align: left;
      padding: 0px 10px;
    }
    .record-box-header-col2{
      @extend .record-box-header-col;
      order: 2;
      min-width: $record-col2-width;
      border-right: 1px solid #ccc;
      text-align: left;
      padding: 0px 10px;
    }
    .record-box-header-col3{
      @extend .record-box-header-col;
      order: 3;
      min-width: $record-col3-width;
      border-right: 1px solid #ccc;
      text-align: left;
      padding: 0px 10px;
    }
    .record-box-header-col4{
      @extend .record-box-header-col;
      order: 4;
      min-width: $record-col4-width;
      text-align: left;
      padding: 0px 10px;
    }
  }
  .record-box-body{
    order: 2;
  }
}

/* RecordItem */
.record-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none !important; // .hover-itemのborderを無効化
  font-size: 12px;
  color: #000;
  .record-item-col1{
    @extend .ellipsis;
    order: 1;
    width: $record-col1-width;
    padding: 5px 10px;
    text-align: left;
  }
  .record-item-col2{
    @extend .ellipsis;
    order: 2;
    min-width: $record-col2-width;
    padding: 5px 10px;
    text-align: right;
  }
  .record-item-col3{
    @extend .ellipsis;
    order: 3;
    min-width: $record-col3-width;
    padding: 5px 10px;
    text-align: right;
  }
  .record-item-col4{
    @extend .ellipsis;
    order: 4;
    min-width: $record-col4-width;
    padding: 5px 10px;
    text-align: right;
  }
}
.record-item:hover{
  @extend .hover-item;
}

/* GuiBox */
.gui-box{
  width: 100%;
}
.gui-box-body{
  display: flex;
  flex-direction: column;
}

/* GuiItem */
.gui-item{
  color: #000;
  font-size: 13px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  // リレー
  .gui-item-row1{
    order: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #fff;
    box-sizing: border-box;
    .gui-item-col1{
      order: 1;
      flex-grow: 2;
      padding: 1px 10px;
      display: flex;
      flex-direction: column;
      .gui-item-name{
        order: 1;
        font-weight: bold;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        word-break: break-all;
        i{
          margin-right: 5px;
          vertical-align: sub;
        }
      }
    }
    .gui-item-col2{
      order: 3;
      display: flex;
      flex-direction: column;
      padding: 1px 10px;
      text-align: right;
      .gui-item-relay{
        order: 1;
      }
      .gui-item-time{
        order: 2;
      }
    }
    .gui-item-col3{
      order: 4;
      padding: 1px 10px;
      text-align: right;
      .gui-item-kbps,
      .gui-item-format{
        line-height: 20px;
      }
    }
  }
  .gui-item-row1:hover{
    @extend .hover-item;
  }
  // 接続一覧
  .gui-item-row2{
    order: 2;
  }
}

/* GuiConnectionBox */
ul.gui-connection-box{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
  margin: 0px;
  li{
    font-size: 12px;
    padding: 0px 0px 0px 12px;
    margin: 0px;
    i{
      margin-left: 5px;
      margin-right: 3px;
    }
  }
}

/* GuiConnectionItem */
ul.gui-connection-box{
  li.gui-connection-item{
    border: 1px solid #fff;
    box-sizing: border-box;
  }
  li.gui-connection-item:hover,
  li.gui-connection-item.gui-connection-item-active{
    @extend .hover-item;
  }
}

/*-----------------------------------------------------
  画像引用:https://github.com/kumaryu/peercaststation
-----------------------------------------------------*/
.relayable {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../img/relay/relay_icon_0.png");
}
.relayFull {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../img/relay/relay_icon_1.png");
}
.notRelayable {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../img/relay/relay_icon_2.png");
}
.firewalled {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../img/relay/relay_icon_3.png");
}
.firewalledRelaying {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../img/relay/relay_icon_4.png");
}
.unknown {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../img/relay/relay_icon_5.png");
}
.notReceiving {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../img/relay/relay_icon_6.png");
}
.connectionToRoot {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../img/relay/relay_icon_7.png");
}
.connectionToTracker {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../img/relay/relay_icon_8.png");
}

/* Favorite */
#container-favorite{
  height: 100%;
  overflow: hidden;
  padding-top: 10px;
  header{
  }
  #favorite-main{
    height: 100%;
    padding: 25px 15px;
  }
}
#favorite{
  height: 100%;
}
#favorite-btn-group{
  position: fixed;
  bottom: 20px;
  right: 20px;
  // margin-top: 15px;
  // text-align: right;
}
#favorite-cancel{
  margin-right: 5px;
}
#favorite-ok{
}

/* FavoriteDetail */
#favorite-detail{
  label{
    font-size: 11px;
    display: block;
    margin-bottom: 0px;
  }
  input{
    width: 300px;
    margin-bottom: 10px;
  }
  #favorite-detail-targets{
    input{
      width: auto;
      margin-left: 10px;
      margin-right: 3px;
    }
  }
  #favorite-detail-colors{
    #sample{
      display: inline-block;
      width: 300px;
      text-align: center;
      padding: 5px 20px;
      font-size: 14px;
    }
    button{
      margin-top: 5px;
      margin-right: 5px;
    }
  }
  #favorite-detail-option{
    margin-top: 10px;
    input{
      width: auto;
      margin-left: 6px;
      margin-right: 3px;
    }
  }
}

/* Settings */
#container-settings{
  height: 100%;
  overflow: hidden;
  padding-top: 15px;
}
#settings{
  overflow: hidden;
  width: 100%;
  height: 350px;
  #settings-main{
    padding: 15px;
  }
  #settings-btn-group{
    position: fixed;
    bottom: 25px;
    right: 25px;
  }
  .tab-group{
    width: 100%;
    padding-top: 6px;
    .tab-item{
      border-top: 1px solid #989698;
      background: #bababa;
    }
    .tab-item:hover{
      background: #dcdadc;
    }
    .tab-item.active,
    .tab-item.active:hover{
      background: #dcdadc;
    }
  }
  label{
    font-size: 11px;
    display: block;
    margin-bottom: 0px;
  }
  input{
    width: 325px;
    margin-bottom: 10px;
    margin-right: 5px;
  }
}
#settings-initialize{
  margin-right: 5px;
}
#settings-cancel{
  margin-right: 5px;
}
#settings-ok{
}

/* SettingsGeneral */
#settings-general{
  input.checkbox{
    width: auto;
    display: inline-block;
  }
  .form-group{
    margin-bottom: 0px;
  }
}
#settings-sort,
#settings-theme{
  padding-bottom: 10px;
}

/* SettingsPeerCast */
#settings-peercast{
  input.checkbox{
    width: auto;
    display: inline-block;
  }
  .form-group{
    margin-bottom: 0px;
  }
}

/* SettingsYP */
#settings-yp{
  #rule-box>#rule-box-nav{
    height: 250px;
  }
}

/* SettingsYPDetail */
#settings-yp-detail{
  input{
    width: 220px;
  }
}

/* SettingsPlayer */
#settings-player{
  #rule-box>#rule-box-nav{
    height: 250px;
  }
}

/* SettingsPlayerDetail */
#settings-player-detail{
  .form-dialog>input{
    width: 180px;
  }
  input{
    width: 220px;
  }
  #settings-player-args{
    input{
      width: 220px;
      padding-right: 30px;
    }
    button{
      width: 25px;
      height: 21px;
      border-radius: 0px;
      margin-left: -31px;
      margin-top: -1px;
      padding-left: 5px;
      padding-right: 5px;
      border: none;
      border-left: 1px solid #dfdfdf;
    }
  }
}

/* RuleBox */
#rule-box{
  float: left;
  button{
    margin-top: 5px;
    margin-right: 4px;
    .icon{
      font-size: 11px;
      width: auto;
      height: auto;
    }
  }
}
nav#rule-box-nav{
  background: #fff;
  border: 1px solid #ccc;
  width: 130px;
  height: 300px;
  padding: 0px;
  margin-right: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* RuleItem */
.rule-item{
  color: #222222;
  cursor: default;
  padding: 3px 5px;
  height: 21px;
}
.rule-item-active{
  background: #116cd6;
  color: #fff;
}

/* override photon.css */
.btn-primary > .icon,
.btn-positive > .icon,
.btn-negative > .icon,
.btn-warning > .icon{
  color: #fff;
}

.tab-item{
  font-size: 10px !important;
  padding: 1px !important;
  white-space: nowrap !important;
}
select{
  height: 20px;
}

.btn-group{
  display: -webkit-inline-box !important;
}

/* dark theme */
$darktheme-base-color: #444444;
$darktheme-btn-default-color: darken($darktheme-base-color, 3%);
$darktheme-btn-primary-color: #308cff;

#index.dark,
#settings.dark,
#favorite.dark{
  height: 100%;
  background-color: darken($darktheme-base-color, 5%);
  color: #ffffff;
  input,
  select{
    color: #111;
  }
  a, .link{
    color: #00ccff;
  }
  .hover-item{
    background: darken($darktheme-base-color, 15%);
    border: 1px solid darken($darktheme-base-color, 25%);;
  }
  header{
    .title{
      color: #fff;
    }
  }

  .toolbar{
    background-color: $darktheme-base-color;
    background-image: linear-gradient(to bottom, $darktheme-base-color 0%, $darktheme-base-color*0.82 100%);
    box-shadow: none;
    color: #ffffff;
  }
  .toolbar-footer{
    border-top-color: lighten($darktheme-btn-default-color, 20%);
  }
  .toolbar-header{
    border-bottom-color: lighten($darktheme-btn-default-color, 20%);
  }

  .btn-default{
    background-color: $darktheme-btn-default-color;
    border-color: lighten($darktheme-btn-default-color, 10%);
    border-bottom-color: lighten($darktheme-btn-default-color, 3%);
    background-image: linear-gradient(to bottom, darken($darktheme-btn-default-color, 5%) 0%, darken($darktheme-btn-default-color, 10%) 100%);
    color: #fdfdfd;
    .icon{
      color: #fdfdfd;
    }
  }
  .btn-default:hover{
    background-color: darken($darktheme-btn-default-color, 10%);
    background-image: linear-gradient(to bottom, darken($darktheme-btn-default-color, 15%) 0%, darken($darktheme-btn-default-color, 20%) 100%);
  }
  .btn-default:active{
    background-color: darken($darktheme-btn-default-color, 25%);
  }
  .btn-primary{
    background-color: $darktheme-btn-primary-color;
    border-color: lighten($darktheme-btn-primary-color, 10%);
    border-bottom-color: lighten($darktheme-btn-primary-color, 3%);
    background-image: linear-gradient(to bottom, darken($darktheme-btn-primary-color, 5%) 0%, darken($darktheme-btn-primary-color, 10%) 100%);
  }
  .btn-primary:hover{
    background-color: darken($darktheme-btn-primary-color, 10%);
    background-image: linear-gradient(to bottom, darken($darktheme-btn-primary-color, 15%) 0%, darken($darktheme-btn-primary-color, 20%) 100%);
  }
  .btn-primary:active{
    background-color: darken($darktheme-btn-primary-color, 25%);
  }
  .btn-group .btn + .btn {
    border-left-color: lighten($darktheme-btn-default-color, 10%);
  }

  .search-group{
    $base: #222222;
    input#search-word[type="text"]{
      background-color: $base;
      border-color: #4c4c4c;
      color: #ffffff;
    }
    button,
    .btn-default{
      background-color: $base;
      background-image: none;
    }
    #search-cancel>.icon{
      color: lighten($base, 30%);
    }
    #search-submit>.icon-search{
      color: lighten($base, 60%);
    }
    #search-cancel>.icon:hover,
    #search-submit>.icon-search:hover{
      color: #ffffff;
    }
  }
  .gui-box{
    .gui-item{
      color: #ffffff;
      .gui-item-row1{
        border: 1px solid darken($darktheme-base-color, 5%);
        box-sizing: border-box;
      }
      .gui-item-row2{
        ul.gui-connection-box>li.gui-connection-item{
          border: 1px solid darken($darktheme-base-color, 5%);
        }
      }
    }
  }
  .tab-group{
    $base: darken($darktheme-base-color, 5%);
    border-bottom-color: lighten($base, 10%);
    .tab-item{
      background-color: $base;
      background-image: linear-gradient(to bottom, $base 0%, darken($base, 5%) 100%);
      color: #ffffff;
      border-left: 1px solid lighten($base, 10%);
    }
    .tab-item.active{
      background-color: $darktheme-base-color;
      background-image: linear-gradient(to bottom, $darktheme-base-color*0.82 0%, $darktheme-base-color*0.82 100%);
    }
    .tab-item:hover,
    .tab-item.active:hover{
      background-color: darken($darktheme-base-color, 8%);
      background-image: linear-gradient(to bottom, darken($darktheme-base-color, 10%) 0%, darken($darktheme-base-color, 10%) 100%);
    }
    .tab-item:first-child{
      border-left: none;
    }
  }
  .channel-box{
    background-color: darken($darktheme-base-color, 5%);
    .channel-box-header{
      background-color: darken($darktheme-base-color, 5%);
      border-bottom: 1px solid darken($darktheme-base-color, 5%);
      .channel-box-header-col{
        color: #ffffff;
      }
      .channel-box-header-col:active{
        background-color: darken($darktheme-base-color, 10%);
      }
      .channel-box-header-col1,
      .channel-box-header-col2{
        border-right: 1px solid lighten($darktheme-base-color, 15%);
      }
    }
    .channel-box-body{
      .channel-item{
        background-color: darken($darktheme-base-color, 13%);
        color: #fff;
      }
      .channel-item:hover,
      .channel-item:active,
      .channel-item:nth-child(odd):active,
      .channel-item:nth-child(even):active{
        background-color: darken($darktheme-base-color, 20%);
      }
    }
  }
  .record-box{
    .record-box-header{
      background-color: darken($darktheme-base-color, 5%);
      border-bottom: 1px solid darken($darktheme-base-color, 5%);
      .record-box-header-col{
        color: #ffffff;
      }
      .record-box-header-col:active{
        background-color: darken($darktheme-base-color, 10%);
      }
      .record-box-header-col1,
      .record-box-header-col2,
      .record-box-header-col3{
        border-right: 1px solid lighten($darktheme-base-color, 15%);
      }
    }
    .record-box-body{
      .record-item{
        background-color: darken($darktheme-base-color, 13%);
        color: #fff;
      }
      .record-item:hover,
      .record-item:active,
      .record-item:nth-child(odd):active,
      .record-item:nth-child(even):active{
        background-color: darken($darktheme-base-color, 20%);
      }
    }
  }
}

#settings.dark{
  .tab-group{
    border-bottom: 1px solid $darktheme-base-color;
    .tab-item{
      border-top: 1px solid lighten($darktheme-base-color, 5%);
    }
  }
}

#favorite.dark{
  .toolbar-header{
    border-bottom: 1px solid lighten($darktheme-base-color, 5%);
  }
}

